<mat-drawer-container class="example-container" autosize>
  <mat-drawer
    #drawer
    mode="side"
    [disableClose]="true"
    [opened]="isOpenSidenav"
  >
    <div class="logo-sidenav">
      <img
        class="logo-sidenav-img"
        src="./assets/images/logo/logo-sidenav.jpg"
        alt="Logo VICAM CG"
      />
    </div>
    <div class="menu-sidenav">
      <mat-list role="list" class="mat-list-menu">
        <mat-list-item
          class="mat-list-item-menu"
          role="button"
          (click)="goToRoute('/clientes/list')"
        >
          <div class="list-item-content">
            <mat-icon matTooltip="Clientes" matTooltipPosition="right"
              >account_circle</mat-icon
            >
            <small>Clientes</small>
          </div>
        </mat-list-item>
        <mat-list-item
          class="mat-list-item-menu"
          role="button"
          (click)="goToRoute('/resources/bancos/list')"
        >
          <div class="list-item-content">
            <mat-icon matTooltip="Datos generales" matTooltipPosition="right"
              >account_balance</mat-icon
            >
            <small>Datos Generales</small>
          </div>
        </mat-list-item>
        <mat-list-item
          class="mat-list-item-menu"
          role="button"
          (click)="goToRoute('/resources/bancos/list')"
        >
          <div class="list-item-content">
            <mat-icon matTooltip="Datos generales" matTooltipPosition="right"
              >account_balance</mat-icon
            >
            <small>Reportes</small>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-drawer>
  <div class="sidenav-content">
    <app-toolbar-panel (toggleMenu)="toggleMenu()"></app-toolbar-panel>
    <div class="panel-principal">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
