<mat-drawer-container class="example-container" autosize>
  <mat-drawer
    #drawer
    mode="side"
    [disableClose]="true"
    [opened]="isOpenSidenav"
  >
    <div class="logo-sidenav">
      <img
        class="logo-sidenav-img"
        src="./assets/images/logo/logo-sidenav.jpg"
        alt="Logo VICAM CG"
      />
    </div>
    <div class="menu-sidenav">
      <mat-list role="list" class="mat-list-menu">
        <mat-list-item
          class="mat-list-item-menu"
          role="button"
          (click)="goToRoute('/')"
        >
          <div class="list-item-content">
            <mat-icon matTooltip="Inicio" matTooltipPosition="right"
              >home</mat-icon
            >
            <small>Inicio</small>
          </div>
        </mat-list-item>
        <mat-list-item
          class="mat-list-item-menu"
          role="button"
          (click)="goToRoute('/solicitudes')"
        >
          <div class="list-item-content">
            <mat-icon matTooltip="Solicitudes" matTooltipPosition="right"
              >note_add</mat-icon
            >
            <small>Solicitudes</small>
          </div>
        </mat-list-item>
        <mat-list-item
          class="mat-list-item-menu"
          role="button"
          (click)="goToRoute('/clientes')"
        >
          <div class="list-item-content">
            <mat-icon matTooltip="Clientes" matTooltipPosition="right"
              >account_circle</mat-icon
            >
            <small>Clientes</small>
          </div>
        </mat-list-item>
        <mat-list-item
          class="mat-list-item-menu"
          role="button"
          (click)="goToRoute('/resources')"
        >
          <div class="list-item-content">
            <mat-icon matTooltip="Datos generales" matTooltipPosition="right"
              >account_balance</mat-icon
            >
            <small>Datos Generales</small>
          </div>
        </mat-list-item>
        <mat-list-item
          class="mat-list-item-menu"
          role="button"
          (click)="goToRoute('/resources/bancos/list')"
        >
          <div class="list-item-content">
            <mat-icon matTooltip="Datos generales" matTooltipPosition="right"
              >account_balance</mat-icon
            >
            <small>Reportes</small>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-drawer>
  <div class="sidenav-content">
    <app-toolbar-panel (toggleMenu)="toggleMenu()"></app-toolbar-panel>
    <div class="panel-principal">
      <ngx-spinner
        bdColor="rgba(0, 0, 0, 0.4)"
        size="medium"
        color="#fff"
        type="timer"
        [fullScreen]="true"
        ><p style="color: white">Cargando...</p></ngx-spinner
      >
      <nav
        style="
          --bs-breadcrumb-divider: url(
            &#34;data:image/svg + xml,
            %3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='currentColor'/%3E%3C/svg%3E&#34;
          );
        "
        aria-label="breadcrumb"
      >
        <ol class="breadcrumb">
          <li
            class="breadcrumb-item"
            [class.active]="bread.current"
            *ngFor="let bread of breadcrums"
            [attr.aria-current]="bread.current ? 'page' : ''"
          >
            <span *ngIf="!bread.link" [innerText]="bread.label"></span>
            <a
              *ngIf="bread.link"
              [routerLink]="bread.link"
              [innerText]="bread.label"
            ></a>
          </li>
        </ol>
      </nav>
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
