.example-container {
  width: 100%;
  min-height: 100vh;
}

.sidenav-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  .panel-principal {
    width: 100%;
    background-color: rgb(234, 232, 255);
    min-height: calc(100vh - 65px);
    padding: 1rem;
  }
}

.logo-sidenav {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  .logo-sidenav-img {
    max-width: 125px;
  }
}

.menu-sidenav {
  width: 100%;
}

.mat-list-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem 0;
  width: 100%;

  .list-item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    mat-icon {
      font-size: 2rem;
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
    }
  }
}
