<div class="container p-3">
  <div class="logo-auth mb-4">
    <img src="./assets/images/logo/logo-sidenav.jpg" alt="" />
  </div>
  <form
    [formGroup]="formLogin"
    class="form-login mb-2"
    (ngSubmit)="recoverPassword()"
  >
    <mat-form-field appearance="outline">
      <mat-label>Correo</mat-label>
      <input matInput formControlName="user" />
      <mat-error> Este campo es requerido </mat-error>
    </mat-form-field>
    <div class="row d-flex justify-content-between">
      <div class="col-auto">
        <button mat-raised-button color="primary" type="submit">Enviar</button>
      </div>
      <div class="col-auto">
        <button
          mat-raised-button
          color="secondary"
          type="button"
          (click)="back()"
        >
          Cancelar
        </button>
      </div>
    </div>
  </form>
</div>
