<div class="home">
  <div class="col-12 col-md-4">
    <div class="w-100 page-component">
      <table class="table-custom-vicam">
        <thead>
          <tr>
            <th>Plazo en años</th>
            <th>Plazo en meses</th>
            <th>Tasa de interes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of plazosPago">
            <td scope="row">
              <span [innerText]="item.plazo_pago_anios"></span>
            </td>
            <td>
              <span [innerText]="item.plazo_pago_meses"></span>
            </td>
            <td>
              <span [innerText]="item.plazo_pago_tasa_interes"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="page-component">
      <div class="col-12 text-center">
        <h1>Registrar nuevo plazo de pago</h1>
      </div>
      <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
        <form [formGroup]="formCreate" (ngSubmit)="save()">
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Plazo en años:</mat-label>
              <input type="number" matInput formControlName="anios" />
              <mat-error *ngIf="validateFormControl('anios')"
                >{{ validateFormControl('anios') }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Plazo en meses:</mat-label>
              <input type="number" matInput formControlName="meses" />
              <mat-error *ngIf="validateFormControl('meses')"
                >{{ validateFormControl('meses') }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Tasa de interes:</mat-label>
              <input
                type="number"
                step="0.001"
                matInput
                formControlName="tasaInteres"
              />
              <mat-error *ngIf="validateFormControl('tasaInteres')"
                >{{ validateFormControl('tasaInteres') }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <button
              mat-raised-button
              type="submit"
              color="primary"
              class="col-auto"
            >
              Registrar nuevo plazo
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
