<div class="row">
    <div class="col-12 text-center">
        <h1>Registrar nuevo cliente</h1>
    </div>
    <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
        <form [formGroup]="formCreateClient" (ngSubmit)="saveNewClient()">
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre:</mat-label>
                    <input matInput formControlName="firstName" autocomplete="name" />
                    <mat-error *ngIf="validateFormControl('firstName')">{{ validateFormControl("firstName") }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Apellidos:</mat-label>
                    <input matInput formControlName="lastName" autocomplete="family-name" />
                    <mat-error *ngIf="validateFormControl('firstName')">{{ validateFormControl("firstName") }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>DNI:</mat-label>
                    <input matInput formControlName="documentNumber" type="text" autocomplete="off" />
                    <mat-error *ngIf="validateFormControl('documentNumber')">{{ validateFormControl("documentNumber") }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>N° de celular:</mat-label>
                    <input matInput formControlName="phoneNumber" type="tel" autocomplete="off" />
                    <mat-error *ngIf="validateFormControl('phoneNumber')">{{ validateFormControl("phoneNumber") }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>N° de cuenta de ahorros:</mat-label>
                    <input matInput formControlName="accountNumber" type="number" autocomplete="off" />
                    <mat-error *ngIf="validateFormControl('accountNumber')">{{ validateFormControl("accountNumber") }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Correo electrónico:</mat-label>
                    <input matInput formControlName="email" type="email" autocomplete="off" />
                    <mat-error *ngIf="validateFormControl('email')">{{ validateFormControl("email") }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Dirección:</mat-label>
                    <input matInput formControlName="address" autocomplete="off" />
                    <mat-error *ngIf="validateFormControl('address')">{{ validateFormControl("address") }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <button mat-raised-button type="submit" color="primary" class="col-auto">
          Registrar cliente
        </button>
            </div>
        </form>
    </div>
</div>