<div class="row">
  <div class="col-12 text-center">
    <h1>Registrar nuevo cliente</h1>
  </div>
  <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
    <form [formGroup]="formCreateClient" (ngSubmit)="saveNewClient()">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Nombre:</mat-label>
          <input matInput formControlName="firstName" autocomplete="name" />
          <mat-error *ngIf="validateFormControl('firstName')"
            >{{ validateFormControl('firstName') }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Apellidos:</mat-label>
          <input
            matInput
            formControlName="lastName"
            autocomplete="family-name"
          />
          <mat-error *ngIf="validateFormControl('firstName')"
            >{{ validateFormControl('firstName') }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>DNI:</mat-label>
          <input
            matInput
            formControlName="documentNumber"
            type="text"
            autocomplete="off"
          />
          <mat-error *ngIf="validateFormControl('documentNumber')"
            >{{ validateFormControl('documentNumber') }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>N° de celular:</mat-label>
          <input
            matInput
            formControlName="phoneNumber"
            type="tel"
            autocomplete="off"
          />
          <mat-error *ngIf="validateFormControl('phoneNumber')"
            >{{ validateFormControl('phoneNumber') }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>N° de cuenta de ahorros:</mat-label>
          <input
            matInput
            formControlName="accountNumber"
            type="number"
            autocomplete="off"
          />
          <mat-error *ngIf="validateFormControl('accountNumber')"
            >{{ validateFormControl('accountNumber') }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row-credit-card">
        <mat-slide-toggle
          (change)="initCreditCards()"
          formControlName="isCreditCard"
          >Es tarjeta de crédito</mat-slide-toggle
        >
      </div>
      <ng-container *ngIf="isCreditCard()">
        <div class="d-column w-100" *ngFor="let creditCard of creditCards">
          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>Nombre de Banco:</mat-label>
              <mat-select
                [(ngModel)]="creditCard.bankName"
                [ngModelOptions]="{ standalone: true }"
              >
                <mat-option *ngFor="let bank of banks" [value]="bank.id">
                  {{ bank.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>N° de cuenta:</mat-label>
              <input
                matInput
                type="text"
                autocomplete="off"
                [(ngModel)]="creditCard.accountNumber"
                [ngModelOptions]="{ standalone: true }"
              />
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Fecha de facturacion:</mat-label>
              <input
                matInput
                readonly
                [matDatepicker]="picker"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="creditCard.facturationDate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <a (click)="addCreditCard()" class="text-button"
            >Añadir tarjetas de crédito</a
          >
        </div>
      </ng-container>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Correo electrónico:</mat-label>
          <input
            matInput
            formControlName="email"
            type="email"
            autocomplete="off"
          />
          <mat-error *ngIf="validateFormControl('email')"
            >{{ validateFormControl('email') }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Dirección:</mat-label>
          <input matInput formControlName="address" autocomplete="off" />
          <mat-error *ngIf="validateFormControl('address')"
            >{{ validateFormControl('address') }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <button
          mat-raised-button
          type="submit"
          color="primary"
          class="col-auto"
        >
          Registrar cliente
        </button>
      </div>
    </form>
  </div>
</div>
