<div class="home">
  <div class="col-12 col-sm-6 col-lg-4">
    <div class="w-100 page-component">
      <table class="table-custom-vicam">
        <thead>
          <tr>
            <th>N°</th>
            <th>Banco</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let banco of bancos; index as i">
            <td>
              <span [innerText]="i + 1"></span>
            </td>
            <td scope="row">
              <span [innerText]="banco.banco_name"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-4">
    <app-bank-create (created)="initTable()"></app-bank-create>
  </div>
</div>
