<div class="row">
  <div class="col-12 text-center">
    <h1>Registrar nuevo banco</h1>
  </div>
  <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
    <form [formGroup]="formCreateBank" (ngSubmit)="save()">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Nombre:</mat-label>
          <input matInput formControlName="name" />
          <mat-error *ngIf="validateFormControl('name')"
            >{{ validateFormControl('name') }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Día de facturación:</mat-label>
          <input matInput formControlName="facturationDate" />
          <mat-error *ngIf="validateFormControl('facturationDate')"
            >{{ validateFormControl('facturationDate') }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <button
          mat-raised-button
          type="submit"
          color="primary"
          class="col-auto"
        >
          Registrar cliente
        </button>
      </div>
    </form>
  </div>
</div>
