<div class="d-flex w-100 p-3">
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card-graph">
      <app-graph-new-users
        [title]="'Prestamistas registrados'"
        [type]="'bar'"
      ></app-graph-new-users>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card-graph">
      <app-graph-new-users
        [title]="'Prestamistas registrados'"
        [type]="'line'"
      ></app-graph-new-users>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card-graph">
      <app-graph-new-users
        [title]="'Prestamistas registrados'"
        [type]="'radar'"
      ></app-graph-new-users>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card-graph">
      <app-graph-new-users
        [title]="'Prestamistas registrados'"
        [type]="'polarArea'"
      ></app-graph-new-users>
    </div>
  </div>
</div>
