<div class="home">
  <div class="content-cards-graphs">
    <div class="card-graph">
      <app-graph-new-users
        [title]="'Prestamistas registrados'"
        [type]="'bar'"
      ></app-graph-new-users>
    </div>
    <div class="card-graph">
      <app-graph-new-users
        [title]="'Prestamistas registrados'"
        [type]="'line'"
      ></app-graph-new-users>
    </div>
    <div class="card-graph">
      <app-graph-new-users
        [title]="'Prestamistas registrados'"
        [type]="'radar'"
      ></app-graph-new-users>
    </div>
    <div class="card-graph">
      <app-graph-new-users
        [title]="'Prestamistas registrados'"
        [type]="'polarArea'"
      ></app-graph-new-users>
    </div>
  </div>
</div>
