<div class="row py-3">
  <button
    class="col-auto"
    mat-raised-button
    color="primary"
    [routerLink]="['/clientes/create']"
  >
    Nuevo cliente
  </button>
</div>
<div class="row">
  <div class="list">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Documento</th>
          <th>N° de celular</th>
          <th>N° de cuenta</th>
          <th>Correo Electrónico</th>
          <th>Dirección</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clientsObservable | async">
          <td scope="row">
            <span [innerText]="client.firstName"></span>
          </td>
          <td>
            <span [innerText]="client.lastName"></span>
          </td>
          <td>
            <span [innerText]="client.documentNumber"></span>
          </td>
          <td>
            <span [innerText]="client.phoneNumber"></span>
          </td>
          <td>
            <span [innerText]="client.accountNumber"></span>
          </td>
          <td>
            <span [innerText]="client.email"></span>
          </td>
          <td>
            <span [innerText]="client.address"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
