<div class="w-100">
  <button
    class="col-auto"
    mat-raised-button
    color="primary"
    [routerLink]="['/clientes/create']"
  >
    Nuevo cliente
  </button>
</div>
<div class="page-component w-100 mt-3">
  <div class="list">
    <div class="table-custom-grid">
      <div class="head-custom-grid">
        <div class="col-head-custom-grid">
          <span>Nombre</span>
        </div>
        <div class="col-head-custom-grid">
          <span>Apellido</span>
        </div>
        <div class="col-head-custom-grid">
          <span>Documento</span>
        </div>
        <div class="col-head-custom-grid">
          <span>N° de celular</span>
        </div>
        <div class="col-head-custom-grid">
          <span>Correo Electrónico</span>
        </div>
        <div class="col-head-custom-grid">
          <span>Dirección</span>
        </div>
        <div class="col-head-custom-grid d-flex justify-content-end">
          <span>Acciones</span>
        </div>
      </div>
      <div class="body-custom-grid">
        <mat-accordion class="accordion-body">
          <mat-expansion-panel *ngFor="let prestamista of clients" hideToggle>
            <mat-expansion-panel-header>
              <div class="body-row-custom-grid">
                <div class="col-body-custom-grid">
                  <span [innerText]="prestamista.prestamista_nombres"></span>
                </div>
                <div class="col-body-custom-grid">
                  <span [innerText]="prestamista.prestamista_apellidos"></span>
                </div>
                <div class="col-body-custom-grid">
                  <span [innerText]="prestamista.prestamista_dni"></span>
                </div>
                <div class="col-body-custom-grid">
                  <span [innerText]="prestamista.prestamista_celular1"></span>
                </div>
                <div class="col-body-custom-grid">
                  <span [innerText]="prestamista.prestamista_correo"></span>
                </div>
                <div class="col-body-custom-grid">
                  <span [innerText]="prestamista.prestamista_direccion"></span>
                </div>
                <div class="col-body-custom-grid justify-content-end">
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button
                      mat-menu-item
                      (click)="generateContract(prestamista)"
                    >
                      <mat-icon>post_add</mat-icon>
                      Generar contrato
                    </button>
                  </mat-menu>
                </div>
              </div>
            </mat-expansion-panel-header>
            <ng-container *ngIf="prestamista.cuenta_ahorro">
              <div class="body-row-custom-grid">
                <div class="col-body-custom-grid">
                  <span>Cuenta de ahorros:</span>
                </div>
              </div>
              <div
                class="body-row-custom-grid"
                *ngFor="let cuenta of prestamista.cuenta_ahorro"
              >
                <div class="col-body-custom-grid"></div>
                <div class="col-body-custom-grid"></div>
                <div class="col-body-custom-grid">
                  <span [innerText]="parseBanco(cuenta.banco_id)"></span>
                </div>
                <div class="col-body-custom-grid">
                  <span [innerText]="cuenta.cuenta_numero"></span>
                </div>
              </div>
            </ng-container>
            <!-- <ng-container
              *ngIf="
                prestamista.creditCards && prestamista.creditCards.length > 0
              "
            >
              <div class="body-row-custom-grid">
                <div class="col-body-custom-grid">
                  <span>Tarjetas de credito:</span>
                </div>
              </div>
              <div
                class="body-row-custom-grid"
                *ngFor="let creditCard of prestamista.creditCards"
              >
                <div class="col-body-custom-grid"></div>
                <div class="col-body-custom-grid"></div>
                <div class="col-body-custom-grid">
                  <span [innerText]="creditCard.bank.name"></span>
                </div>
                <div class="col-body-custom-grid">
                  <span [innerText]="creditCard.facturationDate"></span>
                </div>
                <div class="col-body-custom-grid">
                  <span [innerText]="creditCard.accountNumber"></span>
                </div>
              </div>
            </ng-container> -->
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>
