<div class="page-component">
  <div class="col-12 text-center">
    <h1>Registrar nuevo cliente</h1>
  </div>
  <div class="w-100 mx-auto">
    <form [formGroup]="formCreateClient" (ngSubmit)="saveNewClient()">
      <div class="row-fields">
        <mat-form-field
          appearance="outline"
          class="col-lg-3 col-12 col-sm-6 col-md-4"
        >
          <mat-label>Nombre:</mat-label>
          <input matInput formControlName="firstName" autocomplete="name" />
          <mat-error *ngIf="validateFormControl('firstName')"
            >{{ validateFormControl('firstName') }}
          </mat-error>
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          class="col-lg-3 col-12 col-sm-6 col-md-4"
        >
          <mat-label>Apellidos:</mat-label>
          <input
            matInput
            formControlName="lastName"
            autocomplete="family-name"
          />
          <mat-error *ngIf="validateFormControl('firstName')"
            >{{ validateFormControl('firstName') }}
          </mat-error>
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          class="col-lg-3 col-12 col-sm-6 col-md-4"
        >
          <mat-label>DNI:</mat-label>
          <input
            matInput
            formControlName="documentNumber"
            type="text"
            autocomplete="off"
          />
          <mat-error *ngIf="validateFormControl('documentNumber')"
            >{{ validateFormControl('documentNumber') }}
          </mat-error>
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          class="col-lg-3 col-12 col-sm-6 col-md-4"
        >
          <mat-label>N° de celular:</mat-label>
          <input
            matInput
            formControlName="phoneNumber"
            type="tel"
            autocomplete="off"
          />
          <mat-error *ngIf="validateFormControl('phoneNumber')"
            >{{ validateFormControl('phoneNumber') }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row-fields">
        <mat-form-field
          appearance="outline"
          class="col-lg-3 col-12 col-sm-6 col-md-4"
        >
          <mat-label>Banco:</mat-label>
          <mat-select formControlName="bank">
            <mat-option *ngFor="let bank of banks" [value]="bank.banco_id">
              {{ bank.banco_name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="validateFormControl('bank')"
            >{{ validateFormControl('bank') }}
          </mat-error>
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          class="col-lg-4 col-12 col-sm-6 col-md-6"
        >
          <mat-label>N° de cuenta de ahorros:</mat-label>
          <input
            matInput
            formControlName="accountNumber"
            type="number"
            autocomplete="off"
          />
          <mat-error *ngIf="validateFormControl('accountNumber')"
            >{{ validateFormControl('accountNumber') }}
          </mat-error>
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          class="col-lg-3 col-12 col-sm-6 col-md-4"
        >
          <mat-label>Duración del contrato:</mat-label>
          <mat-select formControlName="duration">
            <mat-option
              *ngFor="let plazo of plazos"
              [value]="plazo.plazo_pago_id"
            >
              {{ plazo.plazo_pago_meses }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="validateFormControl('bank')"
            >{{ validateFormControl('bank') }}
          </mat-error>
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          class="col-lg-2 col-12 col-sm-6 col-md-4"
        >
          <mat-label>Interes:</mat-label>
          <input
            matInput
            formControlName="interes"
            type="number"
            step="0.01"
            min="0"
            autocomplete="off"
          />
          <mat-error *ngIf="validateFormControl('bank')"
            >{{ validateFormControl('bank') }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row-fields">
        <mat-form-field
          appearance="outline"
          class="col-lg-6 col-sm-12 col-md-6"
        >
          <mat-label>Correo electrónico:</mat-label>
          <input
            matInput
            formControlName="email"
            type="email"
            autocomplete="off"
          />
          <mat-error *ngIf="validateFormControl('email')"
            >{{ validateFormControl('email') }}
          </mat-error>
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          class="col-lg-6 col-sm-12 col-md-6"
        >
          <mat-label>Dirección:</mat-label>
          <input matInput formControlName="address" autocomplete="off" />
          <mat-error *ngIf="validateFormControl('address')"
            >{{ validateFormControl('address') }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="w-100-credit-card">
        <mat-slide-toggle
          (change)="initCreditCards()"
          formControlName="isCreditCard"
          >Es tarjeta de crédito</mat-slide-toggle
        >
      </div>
      <ng-container *ngIf="isCreditCard()">
        <div
          class="custom-credit-card w-100"
          *ngFor="let creditCard of creditCards"
        >
          <div class="col-grid">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Banco:</mat-label>
              <mat-select
                (selectionChange)="setFacturationDate($event, creditCard)"
              >
                <mat-option *ngFor="let bank of banks" [value]="bank.banco_id">
                  {{ bank.banco_name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-grid" style="grid-column: 2 / span 2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>N° de cuenta:</mat-label>
              <input
                matInput
                type="text"
                autocomplete="off"
                [(ngModel)]="creditCard.accountNumber"
                [ngModelOptions]="{ standalone: true }"
              />
            </mat-form-field>
          </div>
          <div class="col-grid">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Monto:</mat-label>
              <input
                matInput
                type="number"
                [(ngModel)]="creditCard.amount"
                [ngModelOptions]="{ standalone: true }"
              />
            </mat-form-field>
          </div>
          <div class="col-grid">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Día de facturacion:</mat-label>
              <input
                matInput
                type="number"
                autocomplete="off"
                [(ngModel)]="creditCard.facturationDate"
                [ngModelOptions]="{ standalone: true }"
              />
            </mat-form-field>
          </div>
          <div class="col-grid">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Día de vencimiento:</mat-label>
              <input
                matInput
                type="number"
                autocomplete="off"
                [(ngModel)]="creditCard.dueDate"
                [ngModelOptions]="{ standalone: true }"
              />
            </mat-form-field>
          </div>
          <div class="col-grid">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Cuotas:</mat-label>
              <input
                matInput
                type="number"
                autocomplete="off"
                [(ngModel)]="creditCard.dueDate"
                [ngModelOptions]="{ standalone: true }"
              />
            </mat-form-field>
          </div>
          <div class="col-grid">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Monto de cuotas:</mat-label>
              <input
                matInput
                type="number"
                autocomplete="off"
                [(ngModel)]="creditCard.dueDate"
                [ngModelOptions]="{ standalone: true }"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="w-100">
          <a (click)="addCreditCard()" class="text-button"
            >Añadir tarjetas de crédito</a
          >
        </div>
      </ng-container>
      <div class="w-100">
        <button
          mat-raised-button
          type="submit"
          color="primary"
          class="col-auto"
        >
          Registrar cliente
        </button>
      </div>
    </form>
  </div>
</div>
